.onda {
    width: 1423px;
    height: 450px;
}

.imagens {
    width: 50px;
    height: auto;
    border: 10px solid bisque
}

#imagens {
 display: flex ; 
 justify-content: center;
 margin: 30px;
}

.climaRS {
    width: 600px;
    height: 300px;
    border: 2px solid ;
}
.clima2 {
    width: 600px;
    height: 300px;
    border: 2px solid;

}
